<%= link_to "前", member_calendar_index_path(member, date: current_month.prev_month), remote: true %>
<span><%= current_month.month %>月</span>
<%= link_to "次", member_calendar_index_path(member, date: current_month.next_month), remote: true %>
<table>
  <tbody>
    <tr>
      <th class="day-of-week">日</th>
      <th class="day-of-week">月</th>
      <th class="day-of-week">火</th>
      <th class="day-of-week">水</th>
      <th class="day-of-week">木</th>
      <th class="day-of-week">金</th>
      <th class="day-of-week">土</th>
    </tr>
    <tr>
    <% calendar.each do |day| %>
      <% if day.wday == 0 %>
        <tr>
      <% end %>
        <td>
          <% if day == Date.current %>
            <span style="color: red;"><%= day.day %></span>
          <% else %>
            <%= day.day %>
          <% end %>
          <% if member.review_count(day) == 0 %>
            <div class="back0"></div>
          <% elsif member.review_count(day) == 1 %>
            <div class="back1"></div>
          <% elsif member.review_count(day) == 2 %>
            <div class="back2"></div>
          <% elsif member.review_count(day) == 3 %>
            <div class="back3"></div>
          <% elsif member.review_count(day) == 4 %>
            <div class="back4"></div>
          <% end %>
        </td>
      <% if day.wday == 6 %>
        </tr>
      <% end %>
    <% end %>
  </tr>
  </tbody>
  
</table>