<div class="container">
  <% if @notifications.exists? %>
    <% @notifications.each do |notification| %>
      <div class="row text-center border-bottom">
        <div class="col-4 my-3">
          <%= link_to member_path(notification.visiter_id) do %>
            <%= attachment_image_tag notification.visiter, :member_image, :fill, 100, 100, format: 'jpeg', fallback:"unnamed.png", size:'100x100' %>
          <% end %>
        </div>
        <div class="col-8 d-flex align-items-center">
          <% case notification.action %>
            <% when 'like' then %>
              <%= link_to "#{notification.visiter.name}があなたのレビューをいいねしました", review_path(notification.review_id), class: "text-dark" %>
              <span class="ml-4">
                <%= notification.created_at.strftime('%Y/%m/%d %H:%M:%S') %>  
              </span>
            <% when 'follow' then %>
              <%= link_to "#{notification.visiter.name}にフォローされました", member_path(notification.visiter_id), class: "text-dark" %>
              <span class="ml-4">
                <%= notification.created_at.strftime('%Y/%m/%d %H:%M:%S') %>  
              </span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>