<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="card col-sm-5 text-center pb-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h2 class="mb-5 mt-5">Log in</h2>
        <div class="field-form-group mb-3">
          <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス', autocomplete: "email", class: "col-10 mb-3" %>
        </div>
  
        <div class="field-form-group mb-5">
          <%#= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード', class: "col-10 mb-3" %>
        </div>
        
        <%# if devise_mapping.rememberable? %>
          <!--<div class="field col-8 mx-3 mb-5">-->
            <!--<%= f.check_box :remember_me %>-->
            <%#= f.label :remember_me %>
          <!--</div>-->
        <%# end %>
        
        <div class="field-form-group mb-3">
          <%= f.submit "Log in", class: 'btn btn-success col-10' %>
        </div>
        
        <div class="row justify-content-center mb-3">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>




