<div class="row">
<% @reviews.each do |review| %>

<div class="col-4 text-center">
  <%= link_to review_path(review.id) do %>
    <%= review.movie_name %><br>
    <%= image_tag 'https://image.tmdb.org/t/p/w300' + review.movie_image %><br>
    <%= review.review_detail %>
  <% end %>
  <%= link_to member_path(review.member.id) do %>
    <%= review.member.name %>
    <%= attachment_image_tag review.member, :member_image, :fill, 10, 10, format: 'jpeg', fallback:"unnamed.png", size:'20x20' %>
  <% end %>
  <div id="like_button">
    <%= render 'likes/like', review: review %>
  </div>
  <div id="review-evaluation<%= review.id %>" data-score="<%= review.evaluation %>"></div>
  <script>
    $('#review-evaluation<%= review.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      readOnly: true,
      score: <%= review.evaluation %>,
    });
  </script>
  </div>

<% end %>
</div>