<%= render 'layouts/error_message', object: @review %>
<div class="container mt-5">
  <%= form_with model:@review, local:true do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12 px-0">
      <%= image_tag 'https://image.tmdb.org/t/p/w300' + @movie['poster_path'], class: "card-img-top" %>
      <%= f.hidden_field :movie_image, value: @movie['poster_path'] %>
    </div>
    
    <div class="col-md-4 col-sm-12 bg-light card-body">
      
      <h5 class="border-bottom"><%= @movie['title'] %></h5>
      <%= f.hidden_field :movie_name, value: @movie['title'] %>
      
      <div id="evalute_star">
      </div>
      
      <h5 class="mt-2"><%= f.label :review_detail, "レビュー内容" %></h5>
      <%= f.text_area :review_detail, class: "form-control" %>
      
      <%= f.hidden_field :movie_number, value: @movie['id'] %>
      
      <div class="text-right mt-3">
        <%= f.submit "保存", class: "btn btn-primary form-control" %>
      </div>
      
    </div>
  </div>
  <% end %>
</div>
<script>
  $('#evalute_star').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[evaluation]'
  })
</script>

