<h2>レビュー詳細</h2>
<%= @review.movie_name %>
<div id="like_button">
  <%= render 'likes/like', review: @review %>
</div>
<%= image_tag 'https://image.tmdb.org/t/p/w300' + @review.movie_image %><br>
<%= @review.review_detail %>

<%= link_to '作品の詳細', movie_path(@review.movie_number) %>