<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-4 px-0">
      <%= link_to movie_path(@review.movie_number) do %>
      <%= image_tag 'https://image.tmdb.org/t/p/w300' + @review.movie_image, class: "card-img-top rounded" %>
      <% end %>
    </div>
    <div class="col-4 bg-light card">
      <div class="row mb-3 m-2 mt-4">
        <%= link_to member_path(@review.member.id) do %>
          <%= attachment_image_tag @review.member, :member_image, :fill, 10, 10, format: 'jpeg', fallback:"unnamed.png", size:'45x45', class: "rounded-circle" %>
          <%= @review.member.name %>
        <% end %>
        <div class="ml-auto mt-1">
          <% if @review.written_by?(current_member) %>
            <%= link_to '編集', edit_review_path(@review.id), class: "btn btn-outline-success btn-sm" %>
            <%= link_to '削除', review_path(@review.id), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-outline-danger btn-sm" %>
          <% end %>
        </div>
      </div>
      
      <h4 class="border-bottom my-4 "><%= @review.movie_name %></h4>
      <h5 class="mb-2">レビュー内容</h5>
      <div class="row ml-0 mb-3">
        <div id="review-evaluation<%= @review.id %>" data-score="<%= @review.evaluation %>"></div>
        <span id="like_button<%= @review.id %>", class="pt-1 ml-1">
          <%= render 'likes/like', review: @review %>
        </span>
      </div>
      
      <%= @review.review_detail %>
    </div>
  </div>
</div>
<script>
        $('#review-evaluation<%= @review.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          readOnly: true,
          score: <%= @review.evaluation %>,
        });
</script>