<!DOCTYPE html>
<html>
  <head>
    <title>MovieDiscovery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if member_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "マイページ", member_path(current_member.id) %>
      </li>
      <li>
        <%= link_to "作品一覧", movies_path %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_member_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_member_session_path %>
      </li>
    <% end %>
    <%= form_with url:search_path, method: :get, local:true do |f| %>
      <%= f.select :kind, options_for_select([['会員'], ['作品'], ['ジャンル']]), :prompt => "検索の種類" %>
      <%= f.select :genre, options_for_select(genre_search), :prompt => "ジャンルの選択(ジャンル検索時)" %>
      <%= f.text_field :word, :placeholder => "タイトルを入力" %>
      <%= f.submit '検索' %>
    <% end %>
    <%= yield %>
  </body>
</html>
