<!DOCTYPE html>
<html>
  <head>
    <title>MovieDiscovery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg py-3 px-5", style="background-color:#000022;">
      <% if member_signed_in? %>
        <%= link_to "New映画発見!!", reviews_path, class: "fas fa-video nav-link", :style=>"color:white; font-size: 35px;" %>
      <% else %>
        <%= link_to "New映画発見!!", root_path, class: "fas fa-video nav-link", :style=>"color:white; font-size: 35px;" %>
      <% end %>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if member_signed_in? %>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "nav-link", :style=>"color:white;" %>
            </li>
            <li class="nav-item">
              <%= link_to "マイページ", member_path(current_member.id), class: "nav-link", :style=>"color:white;" %>
            </li>
            <li class="nav-item">
              <%= link_to "作品一覧", movies_path, class: "nav-link", :style=>"color:white;" %>
            </li>
            <li class="nav-item">
              <% if uncheck_notifications.any? %>
                <span><i class="fas fa-circle"></i></span>
              <% end %>
              <%= link_to "通知", notifications_index_path, class: "nav-link", :style=>"color:white;" %>
            </li>
            <li class="nav-item">
              <%= link_to 'タイムライン', reviews_path, class: "nav-link", :style=>"color:white;" %>
            </li>
          <% else %> 
            <li class="nav-item">
              <%= link_to "新規登録", new_member_registration_path, class: "nav-link", :style=>"color:white;" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_member_session_path, class: "nav-link", :style=>"color:white;" %>
            </li>
            <li class="nav-item">
              <%= link_to "about", about_path, class: "nav-link", :style=>"color:white;" %>
            </li>
          <% end %>
        </ul>  
      </div>
    </nav>
    
    <main>
    <!--エラーメッセージ-->
    <% if notice %>
    <div class="bg-success text-center", style="color:white;"><%= notice %></div>
    <% elsif alert %>
    <div class="bg-danger text-center", style="color:white;"><%= alert %></div>
    <% end %>
    
    <% if member_signed_in? %>
      <%= form_with url:searches_search_path, method: :get, local:true do |f| %>
      <div class="container mt-3">
        <div class="row">
          <div class="row ml-auto">
            <div class="col-12">
              <div><%= f.select :kind, options_for_select([['会員'], ['作品']]), :prompt => "検索の種類" %></div>
              <div><%= f.select :genre, options_for_select(genre_search), :prompt => "ジャンルの選択" %></div>
            </div>
          </div>
          <div class="form-inline"><%= f.text_field :word, :placeholder => "ワードを入力", :style=>"height:48px;" %></div>
          <%= f.submit '検索' %>
        </div>
      </div>
      <% end %>
    <% end %>
    
    <%= yield %>
    </main>
    
    <footer class="footer", style="background-color:#000022; height:83px; line-height: 83px;">
      <p class="text-center", style="color:white;" >
        ©2021 New映画発見!! All Rights Reserved.
      </p>
    </footer>
  </body>
  
  
</html>
