<h4>名前</h4>
<%= @member.name %><br>
<h4>紹介文</h4>
<%= @member.introduction %><br>
<h4>プロフィール画像</h4>
<%= attachment_image_tag @member, :member_image, :fill, 100, 100, format: 'jpeg', fallback:"unnamed.png" %>
<div id="follow_button">
  <%= render 'relationships/follow', member: @member %>
</div>
<% if @member.id == current_member.id %>
  <%= link_to "会員情報編集", edit_member_path(current_member.id) %>
<% end %>
<li>
  <%= link_to "後で見る" %>
</li>
<li>
  <%= link_to "フォロー一覧", member_follower_path(@member.id) %>
</li>
<li>
  <%= link_to "フォロワー一覧", member_followed_path(@member.id) %>
</li>
<li>
  <%= link_to "後で見る一覧", member_see_laters_path(member_id: @member.id) %>
</li>


<!--そのmemberの投稿-->
<h2>レビュー一覧</h2>
<% @reviews.each do |review| %>
  <%= link_to review_path(review.id) do %>
    <%= review.movie_name %><br>
    <%= image_tag 'https://image.tmdb.org/t/p/w300' + review.movie_image %><br>
    <%= review.review_detail %>
  <% end %>
  <% if @member.id == current_member.id %>
    <%= link_to '編集', edit_review_path(review.id) %>
    <%= link_to '削除', review_path(review.id), method: :delete, data: { confirm: "本当に削除しますか?" } %>
  <% end %>
  <div id="review-evaluation<%= review.id %>" data-score="<%= review.evaluation %>"></div>
  
  <script>
  $('#review-evaluation<%= review.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    readOnly: true,
    score: <%= review.evaluation %>,
  });
</script>
<% end %>

